<!DOCTYPE html>
<html ng-app='movietime'>
<head>
  <title>Movietime</title>
  <meta name"viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="//maxcdn.boostrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
</head>
<body class="stylized">

<div class="container">

  <div class="navbar navbar-inverse navbar-fixed-top role="navigation"">

    <div class="navbar-header">
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="ion-bar"></span>
      <span class="ion-bar"></span>
      <span class="ion-bar"></span>
    </button>



    <div class="dropdown">

      <!-- <a class="btn"><h3>DVD & BLU-RAY</h3></a> -->
      <%= link_to  "DVD & BLUE-RAY", welcome_index_path, {:class=> "btn" }  %>

      <div class="dropdown-content">
        <!-- <a href="#">Genres</a> -->
        <!-- <a href="#">All Movies</a> -->
        <%= link_to "All Movies", genre_index_path %>
        <!-- <a href="#">Action</a> -->
        <!-- <%= link_to "Action", genre_index_path %> -->
        <!-- <a href="#">Comedy</a>
        <a href="#">Drama</a>
        <a href="#">Romance</a> -->
      </div>

      <a class="btn">GAMES</a>
    </div>
  </div>

  <%= yield %>
</div>

<!-- <ui-view></ui-view>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="/scripts/app.js"></script> -->


</body>
</html>
